node_modules
/apps/dashboard
/apps/server
/packages/api
/packages/auth
/packages/emails
/packages/ui
/packages/permissions
/packages/prettier-config
/packages/eslint-config
/packages/tailwind-config
.git
.github
.turbo
.next
dist
*.log
.env.local
.env.*.local
